<!DOCTYPE html>
<html>
  <body>
    <%=  link_to 'Home', page_path('home') %>
    <h1> About Me</h1>
    <p>
    I am a Web Developer focusing in Ruby and Ruby on Rails. Graduate of Code Fellows intensive Ruby on Rails Development Accelerator and currently living in Gig Harbor, Washington. I love learning new things everyday and working with new people. I also copywrite gaming related content for Alienbabeltech.com occansionally. You can sometimes find me playing BattleField 4 or Counter Strike on PC. 
    </p>
  </body>
</html>
